@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');
*{
    --blue: hsl(246, 80%, 60%);
    --light-red-work: hsl(15, 100%, 70%);
    --soft-blue-play: hsl(195, 74%, 62%);
    --light-red-study: hsl(348, 100%, 68%);
    --lime-green-exercise: hsl(145, 58%, 55%);
    --violet-social: hsl(264, 64%, 52%);
    --soft-orange-self-care: hsl(43, 84%, 65%);
    --very-dark-blue: hsl(226, 43%, 10%);
    --dark-blue: hsl(235, 46%, 20%);
    --desaturated-blue: hsl(235, 45%, 61%);
    --pale-blue: hsl(236, 100%, 87%);
    font-family: 'Rubik', sans-serif;
}

body{
    background-color: var(--very-dark-blue);
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    max-width: 70em!important;
}

.container > .row{
    margin: 0 auto;
}


ul{
    list-style-type:none;
}

#user-card{
    background: var(--blue);
    border-radius: 1em;
    max-width: 16em;
    height: 22em;
    position: relative;
    z-index: 999;
}

#user-card > .card-body{
    padding-top:2em;
    padding-left:1.7em;
}

.col-12 > h1{
    font-size: 2.5em;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.842);
}

.col-12 > p{
    margin:0;   
    margin-top: 2.5em;
    font-size: .9em;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.589);
}

.user-footer{
    max-width: 16em;
    height: 11em;
    padding-top: 2.5em;
    padding-left: 2em;
    margin-top: -1em;
    border-radius: 0 0 1em 1em;
    color: var(--desaturated-blue);
    background: var(--dark-blue);
}

.user-footer > .row > .col-4:hover{
    color: white;
    cursor: pointer;
}

.user-footer > .row > .col-4{
    margin-bottom: 1em;
    font-weight: 400;
    font-weight: 1.5em!important;
}

.avatar{
    width: 5.3em;
    height: 5.3em;
    border-radius: 50%;
    border: 2px solid white;
}

.cards > .card{
    background: var(--dark-blue);
    max-width: 16em;
    height: 11em;
    border-radius: 1em;
}
.cards{
    justify-content: space-evenly;
    height: 100%;
    align-content: space-around;
}

.top-card{
    background: var(--light-red-work);
    border-radius: 1em 1em 0 0;
    max-width: 16em;
    height: 3.5em;
    position: relative;
    z-index: 1;
}

.bottom-card{
    background: var(--dark-blue);
    border-radius: 1em;
    padding: 1em;
    max-width: 16em;
    height: 12.5em;
    z-index: 3;
    position: relative;
    margin-top:-1em;
}

.card-logo{
    float: right;
    padding-right: 1em;
    z-index: 2;
}

.btn{
    color: var(--pale-blue);
    position: absolute;
    right: 1em;
    font-weight: 600;
    letter-spacing: .125em;
    padding-top:0;
    top: 1em;
    vertical-align: middle;
    margin:0;
}


.col-4 > h1{
    padding: 0 .125em;
    margin-top: .75em;
    font-size: 3.5em;
    font-weight: 300;
}

.col-8 > p {
    padding: 0 .5em;
    font-weight: 300;
    color: var(--pale-blue)
}

.card-logo{
    height: 5em;
}

.work{
    background: var(--light-red-work);
}

.play{
    background: var(--soft-blue-play);
}

.study{
    background: var(--light-red-study);
}

.exercise{
    background: var(--lime-green-exercise);
}

.social{
    background: var(--violet-social);
}

.self-care{
    background: var(--soft-orange-self-care);
}

.work-card{
    margin-bottom: 1.5em;
}

.selected{
    color: white;
}

@media screen and (max-width: 991px){
    .container > .row{
        margin: 5em 1em;
    }
    
    #user-card{
        max-width: 30em;
        height: 7em;
    }

    .user-footer{
        max-width: 30em;
        height: 4.5em;
        padding:0;
        padding-top: 2em;
        text-align: center;
    }


    #user-card > .card-body{
        padding-top:1.5em;
        padding-left:1.5em;
    }
    
    .avatar{
        width: 4em;
        height: 4em;
        border-radius: 50%;
        border: 2px solid white;
    }

    .col-12 > h1{
        font-size: 1.5em;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.842);
    }
    
    .col-12 > p{
        margin:0;   
        font-size: .9em;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.589);
    }

    .avatar-container{
        justify-content: center;
        align-items: center;
    }

    .cards > div {
        margin-bottom: 2em;
    } 
    .cards{
        margin-top:2em;
    }

    .container{
        display: flex;
        justify-content: center;
    }
    
    .container > .row{
        width: 20em;
    }


    .bottom-card{
        max-width: 30em;
        height: 7em;
    }

    .top-card{
        max-width: 30em;
        height: 3em;
    }


    .col-4 > h1, .col-8 > h1{
        font-size: 1.5em;
        font-weight: 300;
        margin: .25em .5em;
        padding:0;
    }
    
    .col-4 > p, .col-8 > p{
        font-size: .8em;
        font-weight: 300;
        margin-right: -1em;
        margin-top: .75em;
        text-align: right;
        color: var(--pale-blue)
    }

    .bottom-card > :nth-child(2){
        width: 100%;
    }

}